.App {
  text-align: center;
  background-image:url(./french.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1550px;
  

}
.create {
  height:100vh;
  width:100vw
}
.delete{
  height:100vh;
  width:100vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a{
  color: #6170fb;
}
.nav{
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.ebutton, .dbutton {
    margin-left: 650px;
}

.list{
  color:rgb(251, 0, 50);
  font-size: larger;
  font-weight: bolder;
  
}
.all{
  color: aquamarine;
}
.hom {
 height:100vh
}